<div id="ofertas">
    <p id="oferta">HOT SALE -30% EN SANDALIAS</p>
</div>
<div id="miCuenta">
  <p id="serviciosVarios">Directorio de Tiendas  Servicio al Cliente Mi cuenta</p>
</div>
<div id="LogoYBuscador">
    <a id="imagen" class="navbar-item" href="#">
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <p id="textoDebajoDelForm">ENVÍOS GRATIS PARA PEDIDOS SUPERIORES A $300.000</p>
    </form>
</div>
<nav class="navbar"  role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
  <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item">
          Hombre
        </a>
        <a class="navbar-item">
            Mujer
          </a>
          <a class="navbar-item">
            Blog
          </a>
          <a class="navbar-item">
            Historia
          </a>
          <a class="navbar-item">
            Tienda
          </a>
      </div>
  <div class="navbar-end">
        <div class="navbar-item">
            <a class="navbar-item">
                Carrito {{itemsCarrito.length}}
              </a>
        </div>
      </div>
    </div>
  </nav>
  <div id="lineaNegra"></div>